@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00BFFF;
    padding: 30px 20px;
    height: 30px;
    font-family: 'Quicksand';
    box-shadow: 0 4px 6px rgba(0, 0, 50, 0.2); /* sombra azul más suave */
}
.header .header-nav{
    display: flex;
    gap: 15px;
}
a{
    text-decoration: none;
    color: white;
    font-size:18px;
    font-weight: bold;
    cursor: pointer;
}
h1{
    color: white;
    font-size:29px;
    font-weight: bold;
}
 a:hover{
    color: #0000CD;
    transition: 0.3s;
 }
