* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    font-family: 'Quicksand';
}
/*Area del titulo*/
.productos-titulo h1{
    font-size: 20px;
    font-weight: bold;
}

/*Area de la Cabecera*/
.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content .cabecera{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}
.content .cabecera button{
    font-size: 16px;
    padding: 11px 15px;
    background-color: #005A7C;
    color: white;
    border-radius: 7px;
    border: none;
}
.content .cabecera button:hover{
    background-color: #66D9EF;
    transition: 0.3s;
    cursor: pointer;
}
.content .cabecera input{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 11px 15px;
    font-size: 16px;
}
.content .cabecera input:focus{
    outline: none;
    border-color: #005A7C;
}
.content .cabecera .acciones{
    display: flex;
    gap: 15px;
    align-items: center;
}
.content .cabecera .acciones .inputs{
    display: flex;
    gap: 5px;
    align-items: center;
}
.content .cabecera .acciones .inputs .button-disponible{
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s ease;
}
.content .cabecera .acciones .inputs .button-no-disponible{
  background-color: #f44336;
  color: white;
  transition: background-color 0.3s ease;
}
.content .cabecera .acciones .inputs .button-disponible:hover{
  background-color: #2e7d32;
}
.content .cabecera .acciones .inputs .button-no-disponible:hover{
  background-color: #b71c1c;
}
/*Area de la Tabla*/
.content .tabla-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 5px;
    justify-content: center;
}
.content .tabla-content table{
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}
.content .tabla-content th{
    background: #005A7C;
    color: white;
}

.content .tabla-content th, td{
    padding: 12px 15px;
    text-align: center;
}
/*Esto lo estoy comentando porque no se ve bien el hover en la tabla, ya que se ve el fondo blanco y no se distingue bien el hover
.content .tabla-content tr:hover{
    background: #f1f1f1;
}
*/
.content .tabla-content .button-acciones{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-bottom: none;
}
.content .tabla-content .button-acciones button{
    border: none;
    cursor: pointer;
    background-color: transparent;

}
.content .tabla-content .button-acciones .trash{
    border-radius: 7px;
    border: none;
    color: red;
    font-size: 20px;
}
.content .tabla-content .button-acciones .trash:hover{
    cursor: pointer;
    color: #b30000;
}
.content .tabla-content .button-acciones .edit{
    border-radius: 7px;
    border: none;
    color: #ffd700;
    font-size: 20px;
}
.content .tabla-content .button-acciones .edit:hover{
    cursor: pointer;
    color: #e6c200;
}
/*Area de la paginacion*/
.paginacion{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}
.paginacion button{
    color: #005A7C;
    font-weight: bold;
    font-family: 'Quicksand';
    background-color: transparent;
    border: none;
}
.paginacion button:hover{
    cursor: pointer;
    color: #0056b3;
}
.paginacion span{
    font-weight: bold;
    font-family: 'Quicksand';
}
.fila-no-disponible {
  background-color: #ffe5e5; /* fondo rojo claro */
  color: #a00000; /* texto más oscuro */
}
