<div class="body">
  <div class="productos-titulo">
    <h1>Bienvenido al panel de Servicio de Piscina</h1>
  </div>
  <div class="content">
    <div class="cabecera">
      <div class="acciones">
        <div class="inputs">
          <!--<label for="">Fecha:</label>-->
          <input type="date" [(ngModel)]="fechaInicio">
          <button (click)="getServicioPiscinaByFecha()">🔍</button>
        </div>
        <div class="inputs">
          <input type="date" [(ngModel)]="desde">
          <input type="date" [(ngModel)]="hasta">
          <button (click)="getServicioPiscinaByFechaBetween()">🔍</button>
        </div>
        <div class="inputs">
          <label for="">M. Pago:</label>
          <input type="search" [(ngModel)]="metodoPagoSeleccionado" placeholder="Ejm: Yape">
          <input type="date" [(ngModel)]="desdeMetodo">
          <input type="date" [(ngModel)]="hastaMetodo">
          <button (click)="getServicioPiscinaByMetodoPagoAndFechaBetween()">🔍</button>
        </div>
        <div class="inputs">
          <label for="">DNI:</label>
          <input (input)="getServicioPiscinaByClienteDni()" type="search" [(ngModel)]="dniSeleccionado">
        </div>
        <div class="inputs">
          <button (click)="cleanFilters()"><i class="fa-solid fa-broom"></i></button>
        </div>
        <div class="inputs">
          <button (click)="getServicioPiscinaPdfByFilters()" class="pdf-button"><i class="fa-solid fa-file-pdf"></i>
            Reporte</button>
        </div>
      </div>
      <div class="agregar">
        <button><i class="fa-solid fa-plus"></i> Agregar Servicio</button>
      </div>
    </div>
    <div class="tabla-content">
      <table>
        <thead>
          <tr>
            <!-- <th>ID</th>-->
            <th>Precio Unitario</th>
            <th>Cantidad Personas</th>
            <th>Monto Total</th>
            <th>Método Pago</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>DNI</th>
            <th>Teléfono</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servicio of serviciosPiscina">
            <td>{{servicio.precioUnitario}}</td>
            <td>{{servicio.cantidadPersonas}}</td>
            <td>{{servicio.montoTotal}}</td>
            <td>{{servicio.metodoPago.name}}</td>
            <td>{{servicio.fecha}}</td>
            <td>{{servicio.cliente.name + ' ' + servicio.cliente.lastName}}</td>
            <td>{{servicio.cliente.dni}}</td>
            <td>{{servicio.cliente.telephone}}</td>
            <td class="button-acciones">
              <button class="edit">
                <i id="pencil" class="fa-solid fa-pencil"></i>
              </button>
              <button (click)="exportPdfById(servicio.id)" class="print">
                <i class="fa-solid fa-print"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--SECCIÓN DE MENSAJES-->
    <!--Mensaje para la búsqueda por dni-->
    <p *ngIf="serviciosPiscina.length === 0 && dniSeleccionado.trim() !== ''">No se encontraron resultados con el DNI:
      <strong>{{dniSeleccionado}}</strong>
    </p>
    <!--Mensaje para la búsqueda por fecha-->
    <p *ngIf="serviciosPiscina.length === 0 && fechaInicio">No se encontraron resultados con la fecha:
      <strong>{{fechaInicio | date:'dd/MM/yyyy'}}</strong>
    </p>
    <!--Mensaje para la búsqueda entre fechas y método de pago-->
    <p *ngIf="serviciosPiscina.length === 0 && desdeMetodo && hastaMetodo && metodoPagoSeleccionado">No se encontraron resultados
      entre las fechas:
      <strong>{{desdeMetodo | date:'dd/MM/yyyy'}} - {{hastaMetodo | date:'dd/MM/yyyy'}}</strong> y método de pago:
      <strong>{{metodoPagoSeleccionado}}</strong>
    </p>
    <!--Mensaje para la búsqueda entre fechas-->
    <p *ngIf="serviciosPiscina.length === 0 && desde && hasta">No se encontraron resultados entre las fechas:
      <strong>{{desde | date:'dd/MM/yyyy'}} - {{hasta | date:'dd/MM/yyyy'}}</strong>
    </p>
    <!--SECCIÓN DE PAGINACIÓN-->
    <div class="paginacion">
      <button (click)="prevPage()" [disabled]="currentPage === 0"><i class="fa-solid fa-chevron-left"></i>
        Anterior</button>
      <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Siguiente <i
          class="fa-solid fa-chevron-right"></i></button>
    </div>
  </div>
</div>

<!--Seccion Modal
<div *ngIf="isModalAddBungalowVisible == true">
  <app-bungalow-add-modal></app-bungalow-add-modal>
</div>
<div *ngIf="isModalUpdateBungalowVisible && bungalowSelect">
  <app-bungalow-update-modal [bungalow]="bungalowSelect!"></app-bungalow-update-modal>
</div>
-->
