<div class="body">
    <div class="productos-titulo">
        <h1>Bienvenido al panel de Método de Pago</h1>
    </div>
    <div class="content">
        <div class="cabecera">
            <div class="acciones">
                <div class="inputs">
                    <label for="">Nombre:</label>
                    <input (input)="getMetodoPagoByName()" [(ngModel)]="nameMetodoPagoBuscado" type="search" placeholder="Ejm: Yape">
                </div>
            </div>
            <div class="agregar">
                <button (click)="openModalAddMetodoPago()" ><i class="fa-solid fa-plus"></i> Agregar Producto</button>
            </div>

        </div>
        <div class="tabla-content">
            <table>
                <thead>
                    <tr>
                       <!-- <th>ID</th>-->
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let metodo of metodosPago">
                        <!--<td>{{producto.id}}</td>-->
                        <td>{{metodo.id}}</td>
                        <td>{{metodo.name}}</td>
                        <td class="button-acciones">
                            <button (click)="deleteMetododPago(metodo.id)"  class="trash">
                                <i id="trash" class="fa-solid fa-trash"></i>
                            </button>
                            <button (click)="openModalUpdateMetodoPago(metodo)" class="edit">
                                <i id="pencil" class="fa-solid fa-pencil"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--SECCIÓN DE MENSAJES-->
    <!--Mensaje para la búsqueda por nombre-->
    <p *ngIf="metodosPago.length === 0 && nameMetodoPagoBuscado.trim() !== ''">No se encontrar resultados con el nombre: <strong>{{nameMetodoPagoBuscado}}</strong></p>

</div>

<!--Seccion Modal-->
<div *ngIf="isModalAddMetodoPagoVisible == true">
    <app-metodopago-add-modal></app-metodopago-add-modal>
</div>
<div *ngIf="isModalUpdateMetodoPagoVisible && metodoPagoSelect">
  <app-metodopago-update-modal [metodoPago] = "metodoPagoSelect!"></app-metodopago-update-modal>

</div>
