<div class="body">
  <div class="productos-titulo">
    <h1>Bienvenido al panel de Servicio de Hospedajes</h1>
  </div>
  <div class="content">
    <div class="cabecera">
      <div class="acciones">
        <div class="inputs">
          <label for="">F. Inicio:</label>
          <input type="date" [(ngModel)]="fechaInicio">
          <button (click)="getServicioHospedajeByFecha()">🔍</button>
        </div>
        <div class="inputs">
          <input type="date" [(ngModel)]="desde">
          <input type="date" [(ngModel)]="hasta">
          <button (click)="getServicioHospedajeByFechaBetween()">🔍</button>
        </div>
        <div class="inputs">
          <label for="">M. Pago:</label>
          <input type="search" placeholder="Ejm: Yape" [(ngModel)]="metodoPagoSeleccionado">
          <input type="date" [(ngModel)]="desdeMetodo">
          <input type="date" [(ngModel)]="hastaMetodo">
          <button (click)="getServicioHospedajeByMetodoPagoAndFechaBetween()">🔍</button>
        </div>
        <div class="inputs">
          <label for="">DNI:</label>
          <input [(ngModel)]="dniSeleccionado" (ngModelChange)="getServicioHospedajeByClienteDni()" type="search">
        </div>
        <div class="inputs">
          <button (click)="cleanFilters()"><i class="fa-solid fa-broom"></i></button>
        </div>
        <div class="inputs">
          <button (click)="getServicioHospedajePdfByFilters()" class="pdf-button"><i class="fa-solid fa-file-pdf"></i></button>
        </div>
        <div class="inputs">
          <button (click)="exportExcelByFilters()" class="excel-button"><i class="fa-solid fa-file-excel"></i></button>
        </div>
      </div>
      <div class="agregar">
        <button (click)="openModalAddServicioHospedaje()"><i class="fa-solid fa-plus"></i> Agregar Servicio</button>
      </div>
    </div>
    <div class="tabla-content">
      <table>
        <thead>
          <tr>
            <th>Habitación</th>
            <th>Precio</th>
            <th>Monto Total</th>
            <th>Método Pago</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Cliente</th>
            <th>DNI</th>
            <th>Teléfono</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servicio of serviciosHospedaje">
            <td>{{servicio.hospedaje.codigoHabitacion}}</td>
            <td>{{servicio.hospedaje.precio}}</td>
            <td>{{servicio.montoTotal}}</td>
            <td>{{servicio.metodoPago.name}}</td>
            <td>{{servicio.fechaInicio}}</td>
            <td>{{servicio.fechaFin}}</td>
            <td>{{servicio.cliente.name + ' ' + servicio.cliente.lastName}}</td>
            <td>{{servicio.cliente.dni}}</td>
            <td>{{servicio.cliente.telephone}}</td>
            <td class="button-acciones">
              <button (click)="openModalViewServicioHospedaje(servicio.id)" class="view">
                <i class="fa-solid fa-eye"></i>
              </button>
              <button (click)="openModalEditServicioHospedaje(servicio)" class="edit">
                <i id="pencil" class="fa-solid fa-pencil"></i>
              </button>
              <button (click)="exportPdfById(servicio.id)" class="print">
                <i class="fa-solid fa-print"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--SECCIÓN DE MENSAJES-->
    <!--Mensaje para la búsqueda por fecha-->
    <p *ngIf="serviciosHospedaje.length === 0 && fechaInicio">No se encontraron resultados con la fecha:
      <strong>{{fechaInicio | date:'dd/MM/yyyy'}}</strong>
    </p>
    <!--Mensaje para la búsqueda entre fechas-->
    <p *ngIf="serviciosHospedaje.length === 0 && desde && hasta">No se encontraron resultados entre las fechas:
      <strong>{{desde | date:'dd/MM/yyyy'}} - {{hasta | date:'dd/MM/yyyy'}}</strong>
    </p>
    <!--Mensaje para la búsqueda entre fechas y método de pago-->
    <p *ngIf="serviciosHospedaje.length === 0 && desdeMetodo && hastaMetodo && metodoPagoSeleccionado">No se encontraron resultados entre las fechas:
      <strong>{{desdeMetodo | date:'dd/MM/yyyy'}} - {{hastaMetodo | date:'dd/MM/yyyy'}}</strong> y método de pago:
      <strong>{{metodoPagoSeleccionado}}</strong>
    </p>
    <!--Mensaje para la búsqueda por dni-->
    <p *ngIf="serviciosHospedaje.length === 0 && dniSeleccionado.trim() !== ''">No se encontraron resultados con el DNI:
      <strong>{{dniSeleccionado}}</strong>
    </p>
    <!--SECCIÓN DE PAGINACIÓN-->
    <div class="paginacion">
      <button (click)="prevPage()" [disabled]="currentPage === 0"><i class="fa-solid fa-chevron-left"></i>
        Anterior</button>
      <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Siguiente <i
          class="fa-solid fa-chevron-right"></i></button>
    </div>
  </div>
</div>

<!--Seccion Modal-->
<div *ngIf="isModalAddServicioHospedajeVisible == true">
  <app-servicio-hospedaje-add-modal></app-servicio-hospedaje-add-modal>
</div>

<div *ngIf="isModalEditServicioHospedajeVisible && servicioHospedajeSelect">
  <app-servicio-hospedaje-update-modal [servicioHospedaje]="servicioHospedajeSelect!"></app-servicio-hospedaje-update-modal>
</div>

<div *ngIf="isModalViewServicioHospedajeVisible && idViewServicioHospedaje">
  <app-servicio-hospedaje-view-modal [idServicioHospedaje]="idViewServicioHospedaje!"></app-servicio-hospedaje-view-modal>

</div>


