
<div class="body">
    <div class="productos-titulo">
        <h1>Bienvenido al panel de Bungalows</h1>
    </div>
    <div class="content">
        <div class="cabecera">
            <div class="acciones">
                <div class="inputs">
                    <label for="">Código:</label>
                    <input [(ngModel)]="codigoBungalowBuscado" (input)="getBungalowByCodigo()" type="search">
                </div>
                <div class="inputs">
                    <button class="button-disponible" (click)="getBungalowByDisponibility(true)">Disponibles</button>
                    <button class="button-no-disponible" (click)="getBungalowByDisponibility(false)">No Disponibles</button>
                </div>
                <div class="inputs">
                    <button (click)="cleanFilters()"><i class="fa-solid fa-broom"></i></button>
                </div>
            </div>
            <div class="agregar">
                <button (click)="openModalAddBungalow()"><i class="fa-solid fa-plus"></i> Agregar Bungalow</button>
            </div>
        </div>
        <div class="tabla-content">
            <table>
                <thead>
                    <tr>
                       <!-- <th>ID</th>-->
                        <th>Código</th>
                        <th>Capacidad</th>
                        <th>Precio</th>
                        <th>Descripción</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bungalow of bungalows" [ngClass]="{'fila-no-disponible': !bungalow.disponible}">
                        <td>{{bungalow.codigo}}</td>
                        <td>{{bungalow.capacidad}}</td>
                        <td>{{bungalow.precio}}</td>
                        <td>{{bungalow.descripcion}}</td>
                        <td class="button-acciones">
                            <button (click)="opendModalUpdateBungalow(bungalow)" class="edit">
                                <i id="pencil" class="fa-solid fa-pencil"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

         <!--SECCIÓN DE MENSAJES-->
    <!--Mensaje para la búsqueda por dni-->
    <p *ngIf="bungalows.length === 0 && codigoBungalowBuscado.trim() !== ''" >No se encontraron resultados con el Código: <strong>{{codigoBungalowBuscado}}</strong></p>
    <!--SECCIÓN DE PAGINACIÓN-->
   <div class="paginacion">
            <button (click)="prevPage()" [disabled]="currentPage === 0"><i class="fa-solid fa-chevron-left"></i>
                Anterior</button>
            <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
            <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Siguiente <i
                    class="fa-solid fa-chevron-right"></i></button>
        </div>
  </div>
</div>

<!--Seccion Modal-->
<div *ngIf="isModalAddBungalowVisible == true">
  <app-bungalow-add-modal></app-bungalow-add-modal>
</div>
<div *ngIf="isModalUpdateBungalowVisible && bungalowSelect">
  <app-bungalow-update-modal [bungalow]="bungalowSelect!"></app-bungalow-update-modal>
</div>

